<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Description" content="Author: Mohamad Al Ghorani,
	Designer: Mohamad Al Ghorani, Category: app,">
	<meta name="theme-color" content="#5e00ff"/>
	<!-- <link rel="apple-touch-icon" href="/icons/logo.png"> -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%- title %></title>
	<script>
			const room = "<%= id %>"
			const name = "<%= name %>"
	</script>
	<!-- <link rel="shortcut icon" href="/icons/icon-72x72.png" type="image/png" /> -->
	<!-- <link rel="manifest" href="/manifest.json">  -->
	<script defer src="/index.js"></script>
	<link rel="stylesheet" href="/index.css">
</head>
<body>
<header>
	<h1>Party 2020</h1>
<div>
<h2>Hello <span class="user-name"><%- name %></span></h2>
<h4>The Party code is: <input readonly class="id" type="text" value="<%- id %>"><button class="copy">Copy</button></h4>
<p>Share this code with your guests so they can join</p>
<div id="lights" ></div>
</div>
</header>
<main>
<div class="party-container">
	<div class="chat-container change-size">
		<ul id="messages"></ul>
		<form class="message-form change-size" id="form" action="">
			<input  autocomplete="off" id="m">
			<input type="submit" value="send">
		</form>
	</div>
	<div class="tracks-container">
		<div class="playlist-head">
			<h3>Playlist for this party</h3>
			<label class="dj-volume" for="volume">Volume</label>
			<input class="dj-volume" id="volume" type="range" min="0" max="100">
		</div>
		<div class="audio-container">
			<% tracksData.items.forEach(function(track) { %>
				<div>
					<p><%- track.track.name %></p>
					<button data-id="<%- track.track.id %>" class="play-btn">Play</button>
				</div>
			<% }) %>
		</div>
		<div class="playlist-footer"></div>
	</div>
	<div class="userList">
		<div class="userList-header">
			<button class="close">Close</button>
			<span class="users-number"></span>
			<p class="list-host"></p>
		</div>
		<div class="users-container">
			<ul>
			</ul>
		</div>
	</div>

</div>


<%- include ./partials/footer.ejs %>